.back{
    background-image: url('../images/waves.svg');
}
.ribbon{
    font-family: 'Prompt';
    font-size: 14;
    font-style: 'normal';
    font-weight: 400;
    color: #000;
    margin-bottom: '5px';
}
.profile{
    font-size: 20;
    font-style: "normal";
    font-weight: 400; 
    font-family: "Prompt";
    color: "blue"
}
.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #2980b9;
  font-weight: bold;
  color: #e0eafc;
  border: none;
  border-radius: 5px;
  width: 25%;
  height: 45px;
  /*margin-top: 40px;*/
}